<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>mapswim.net</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
        </dict>
    </dict>
       <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>Location services 'Always' are required if you want to show your position on the map when the app is in background. Location services 'While Using the App' are required if you want to use the app to navigate using the dashboard or map.</string>
        <key>NSLocationAlwaysUsageDescription</key>
        <string>Location services 'Always' are required if you want to share your position on the map when the app is in background.</string>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>Location services 'While Using the App' are required if you want to use the app to navigate using the dashboard or map.</string>
</dict>
</plist>
